* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 10px;
  min-height: 0;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 0px;
}

#workspaces {
  margin: 0px;
  background: transparent;
}

#workspaces button {
  color: #babbf1;
}

#workspaces button.empty{
    color: #ababab;
}

#workspaces button.active {
  color: #99d1db;
}


#workspaces button:hover {
  color: #85c1dc;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#disk,
#custom-lock,
#custom-power,
#custom-updates{
  background-color: transparent;
  padding: 0.5rem 1rem;
  margin: 0px 0;
  border-radius: 0px 5px 5px 0px;
}

#memory {
  border-radius: 0px 5px 5px 0px;
}

#disk{
    border-radius: 0px 5px 5px 0px;
}

#clock {
  color: #8caaee;
  border-radius: 5px;
  margin-right: 1rem;
}

#battery {
  color: #a6d189;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

#backlight {
  color: #e5c890;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: #ea999c;
  border-radius: 5px 0px 0px 5%;
}

#custom-music {
  color: #ca9ee6;
  border-radius: 5px;
}

#custom-lock {
  border-radius: 5px 0px 0px 5px;
  color: #babbf1;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 5px 5px 0px;
  color: #e78284;
}

#tray {
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
}
